<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <title>Mueblería Pérez Luna</title>
    <link href="/custom.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <link rel="icon" href="/img/iconMPL.jpeg" />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbarAdmin') %>
    <main class="container"><%- include('../partials/flash') %> <%- body %></main>
    <footer class="mt-auto bg-dark footer">
      <div class="container">
        <p class="m-0 text-muted text-center">© KennetG</p>
      </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
