<% layout('layouts/adminPlantilla') %>
<div class="card">
  <h3 class="card-header">Login</h1>
  <div class="card-body">
    <form action="/login" class="validated-form" novalidate method="POST">
      <div class="mb-3">
        <label class="form-label" for="username">Usuario</label>
        <input class="form-control" type="text" id="username" name="username" required />
        <div class="valid-feedback">Datos válidos.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Contraseña</label>
        <input class="form-control" type="password" id="password" name="password" required />
        <div class="valid-feedback">Datos válidos.</div>
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
