<% layout('layouts/adminPlantilla') %>
<h1 class="d-flex">Panel de Contactos</h1>
<a href="/register"><button class="btn btn-primary">Nuevo Usuario</button></a>
<div class="row">
  <div class="col mt-3">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered align-middle">
            <thead class="text-center">
              <th>Usuario</th>
              <th>Correo</th>
            </thead>
            <tbody>
              <% for( let usuario of usuarios ) { %>
              <tr>
                <td><%= usuario.username %></td>
                <td><%= usuario.email %></td>
                <td class="text-center">
                  <form action="/usuarios/<%= usuario._id %>?_method=DELETE" method="post">
                    <button class="btn btn-primary"><i class="bi bi-trash"></i></button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
