<% layout('layouts/plantilla') %>
<h1 class="text-center mt-3">Nuestra Historia</h1>
<div class="row bg-light">
  <div class="col-md-6 align-self-center">
    <p class="text-">
      Somos una empresa familiar que empezó hace 14 años con la idea de ser esa mueblería en la que los clientes puedan confiar. Una mueblería que escuche con atención las necesidades de sus clientes
      y le brinde un servicio excepcional, al mismo tiempo que le entrega un producto final más allá de sus expectativas. 
      <hr>
      Hoy luego de 14 años hemos conseguido que nos vean como esa empresa que queríamos ser: Una cuyo centro siempre será el cliente y su satisfacción. <br />
      No obstante, todos los días trabajamos con dedicación para mejorar nuestro servicio y ampliar nuestro gama de productos, para que siempre encuentre lo que necesite con nosotros, su mueblería de
      confianza.
    </p>
  </div>
  <div class="col-md-6"><img src="img/acercaDe.jpg" alt="Creador de la empresa." class="img-fluid" /></div>
</div>
<hr>
<h2 class="text-center mt-3">¿Por qué elegirnos?</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-x-diamond text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Acabados de Lujo</h4>
      <p>Nuestros clientes siempre reciben productos con acabados profesionales, elegantes y de alta calidad.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-cash-stack text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Buen Precio y Excelente Calidad</h4>
      <p>Mantenemos un balance entre precio y calidad para satisfacer sus necesidades.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-calendar-check text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Tiempos de Entrega</h4>
      <p>Nos esforzamos para mantener una puntualidad impecable.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-person-check text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Servicio al Cliente</h4>
      <p>Sabemos escuchar a nuestros clientes, le daremos la mejor asesoría para su compra.</p>
    </div>
  </div>
</div>
<hr>
<h2 class="text-center">Algunos de nuestros beneficios:</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-tools text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Garantía</h4>
      <p>Nuestros muebles cuentan con garantía de 1 año y 6 meses.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-badge-3d text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Cotizaciones en 3D</h4>
      <p>Cotizar no tiene <strong>ningún costo</strong>. Además le ayudaremos a visualizar su mueble en 3D para tomar la mejor decisión</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-wallet2 text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Financiamiento</h4>
      <p>Le ofrecemos financiamiento a través del sistema de MiniCuotas del BAC.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <h1><i class="bi bi-people text-secondary"></i></h1>
    <div class="ms-2">
      <h4 class="fw-bold mb-0 text-primary">Asesoría y soporte</h4>
      <p>Puede ponerse en contacto con nosotros por medio de teléfono, correo electrónico o WhatsApp.</p>
    </div>
  </div>
</div>
