<% layout('layouts/plantilla') %>
<h2 class="pt-5 text-center text-secondary"><strong>Póngase en contacto con nosotros.</strong></h2>
<!-- Correo Electrónico -->
<div class="row gy-3">
  <div class="col-lg-4">
    <div class="card h-100">
      <div class="card-body position-relative">
        <h5 class="card-title"><strong>Correo Electrónico</strong></h5>
        <p class="card-text">Contáctenos por nuestra dirección de correo electrónico.</p>
        <p class="text-center">
          <a href="mailto:ventas@muebleriaperezluna.com" class="btn btn-primary"><i class="bi bi-envelope align-self-center"></i> ventas@muebleriaperezluna.com</a>
        </p>
      </div>
    </div>
  </div>
  <!-- WhatsApp -->
  <div class="col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><strong>WhatsApp</strong></h5>
        <p class="card-text">También tenemos WhatsApp disponible para su comodidad.</p>
        <p class="text-center">
          <a href="http://wa.link/2psrlq" class="btn btn-primary"><i class="bi bi-whatsapp"></i> +506 8951 8625</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Teléfonos -->
  <div class="col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><strong>Números de Teléfono</strong></h5>
        <p class="card-text">Puede llamarnos por teléfono a los siguientes números:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">
            <a href="tel:89518625" class="btn btn-primary mb-md-2 mb-lg-0"><i class="bi bi-phone"></i>+506 8951 8625</a>
          </li>
          <li class="list-group-item text-center">
            <a href="tel:86222403" class="btn btn-primary"><i class="bi bi-phone"></i>+506 8622 2403</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr />
<h1 class="text-center text-secondary">Visítenos en nuestra sala de exhibición</h1>
<div class="col mx-auto">
  <div class="d-flex justify-content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2236.685324524948!2d-84.33988782823685!3d10.084117843524528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82cef64c31ce1183!2sMuebler%C3%ADa%20P%C3%A9rez%20Luna!5e0!3m2!1ses-419!2sus!4v1624211957653!5m2!1ses-419!2sus"
      width="300"
      height="280"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      title="Mapa Local"
    ></iframe>
  </div>
</div>
